body{margin:0;padding:0;background:#ffe;font-size:12px;overflow:auto}
#garden{width:100%;height:100%}
#messages{display:none}
#clickSound{display:none}
#code{width:100%;height:100%;position:absolute;color:#333;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";font-size:12px}
#code .string{color:#2a36ff}
#code .keyword{color:#7f0055;font-weight:bold;font-size:16px}
#code .placeholder{margin-left:15px}#code .space{margin-left:7px}
#code .comments{color:#000000}
#copyright{margin-top:10px;text-align:center;width:100%;color:#666}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0}
#copyright a{color:#666}
